EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FEED_API_BASE_URL=https://europe-west1-<project-id>.cloudfunctions.net/narrativeApi/
EXPO_PUBLIC_NARRATIVE_TOPIC=narrative-global-v1
EXPO_PUBLIC_NARRATIVE_TOPIC_DEV=narrative-global-v1-dev
EXPO_PUBLIC_SANITY_PROJECT_ID=
EXPO_PUBLIC_SANITY_DATASET=production

# Local Firebase native config file paths (do not commit files)
ANDROID_GOOGLE_SERVICES_FILE=./secrets/firebase/google-services.json
IOS_GOOGLE_SERVICES_FILE=./secrets/firebase/GoogleService-Info.plist
