EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_SANITY_PROJECT_ID=
EXPO_PUBLIC_SANITY_DATASET=production

# Local Firebase native config file paths (do not commit files)
ANDROID_GOOGLE_SERVICES_FILE=./secrets/firebase/google-services.json
IOS_GOOGLE_SERVICES_FILE=./secrets/firebase/GoogleService-Info.plist
