MYTOPIA_FIREBASE_PROJECT_ID=
SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_DATASET_DEV=development
SANITY_API_TOKEN=
SANITY_WEBHOOK_SECRET=
FCM_TOPIC_NARRATIVE=narrative-topic
FCM_TOPIC_NARRATIVE_DEV=narrative-topic-dev
CLOUD_TASKS_QUEUE=narrative-release-queue
CLOUD_TASKS_LOCATION=europe-west1
# Example:
# RELEASE_FUNCTION_URL=https://europe-west1-<project-id>.cloudfunctions.net/narrativeApi/internal/release-bundle
RELEASE_FUNCTION_URL=
TASKS_SERVICE_ACCOUNT_EMAIL=
ADAPTOR_LIVE_TRIGGER_TOKEN=
