rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isModerator() {
      return isSignedIn() && (
        request.auth.token.admin == true || request.auth.token.moderator == true
      );
    }

    // Default deny
    match /{allPaths=**} {
      allow read, write: if false;
    }

    // Allow users to upload submissions only to their own directory
    match /submissions/{userId}/{imageId} {
      allow read: if isModerator() || (isSignedIn() && request.auth.uid == userId);
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

  }
}
